<div flexLayout="row" class="footerMenu">
  <div fxFlex>
    <div>Categories</div>
    <ul>
      <li>Category 1</li>
      <li>Category 2</li>
      <li>Category 3</li>
    </ul>
  </div>
  <div fxFlex>
    <div>About company</div>
    <ul>
      <li>About 1</li>
      <li>About 2</li>
      <li>About 3</li>
    </ul>
  </div>
  <div fxFlex>
    <div>Help</div>
    <ul>
      <li>Help 1</li>
      <li>Help 2</li>
      <li>Help 3</li>
    </ul>
  </div>
</div>
<div flexLayout="column" class="footerCopy">
  Copy &copy; Shop 2022 Wszystkie prawa zastrzeżone.
</div>
