@import "../../../variables";

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content{
  padding: 20px;
}
header{
  background: $darkgrey;
  padding: 20px;
}
.sidebar{
  background: $lightgrey;
  padding: 20px;
}
